# Wordpress - Ignorar núcleo, contenido, ejemplos, cargas y registros.
# Referencia - https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Carpetas nativas WordPress
wp-admin/
wp-includes/

# Carpetas de contenidos WordPress
contenido/languages/
contenido/plugins/
contenido/upgrade/
contenido/uploads/
contenido/themes/
#contenido/themes/twenty*/

# Log files
*.log

# Ficheros PHP WordPress
*.php

# License
license.txt

# Readme
readme.html

# 
!wp-includes/.htaccess
!contenido/uploads/.htaccess

# Fichero de configuración WordPress
!wp-config.php
